* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eef3f7;
    color: #14202a;
}

header {
    background-color: #071522;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #39d0ff;
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    background-color: #17344b;
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #39d0ff;
    color: #071522;
}

main {
    width: 84%;
    margin: auto;
}

.hero {
    background-color: #102b40;
    color: white;
    padding: 40px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero h1 span {
    color: #39d0ff;
}

.hero p {
    margin-bottom: 20px;
}

.botao {
    color: #071522;
    background-color: #39d0ff;
    padding: 10px;
    margin-right: 5px;
    text-decoration: none;
    font-weight: bold;
}

.botao:hover {
    background-color: #176f8a;
    color: white;
}

.destaque {
    padding: 40px 0;
}

.destaque-conteudo {
    display: flex;
    align-items: center;
}

.destaque img {
    width: 55%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.destaque-texto {
    padding: 20px;
}

h2 {
    color: #0d4670;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 30%;
    padding: 15px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    color: #0d4670;
    margin: 10px 0;
}

.info {
    background-color: #dcecf5;
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #071522;
    color: white;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

footer a {
    color: #39d0ff;
    background-color: #17344b;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    background-color: #39d0ff;
    color: #071522;
}